<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.base.commonmodule">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" /> <!-- Optional. Required for location feature -->
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <!--android9.0 启动前台服务权限，普通权限不需要动态申请-->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--调用相机权限-->
    <uses-permission android:name="android.permission.CAMERA" />
    <application>
        <service
            android:name=".utils.countdown.CountService"
            android:exported="false" />
    </application>
</manifest>